body {
    background: grey;
}

a {
    color:black;
    text-decoration: none;
    font-family: "Merriweather";
    font-size: 20px;
    line-height: 200px;
}
.text_style {
    line-height: 100px;
    font-family: "Merriweather";
    text-align: center;
}

.social_button {
    display: flex;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.button_code {
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 150px;
    margin: 0 10px;
    background: white;
    display: block;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-size: 60px;
}
.LI {
    color:#4875B4;
}

.GH {
    color:#6e5494;
}

.TR {
    color: #33CCFF;
}

ul li a .fab {
    position: relative;
    transition: 1s;
}
ul li a:hover .fab {
    transform: rotateY(360deg);
}